<div>
    <h2>To Do List</h2>
    <a class="new" [routerLink]="['/add']">Add New To Do</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <ng-container *ngIf="toDos && toDos.length">
            <tbody>
                <tr *ngFor="let toDo of toDos">
                    <td>{{toDo?.id}}</td>
                    <td>{{toDo?.name}}</td>
                    <td class="description">{{toDo?.description}}</td>
                    <td>
                        <button (click)="editToDo(toDo)">Edit</button> &nbsp;&nbsp;&nbsp;
                        <button (click)="deleteToDo(toDo)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
    <br>
    <ng-container *ngIf="!toDos || !toDos.length">
        No to do items to display!
    </ng-container>
</div>